<div class="jumbotron text-center">
  <h1>Exploring Blockchain Technology</h1>
  <p class="lead">Welcome to Ucoin</p>
    <a class="btn btn-primary" [routerLink]="['/register']">Regiter</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est dolorem non reprehenderit consequatur eum asperiores sunt quasi eveniet beatae harum voluptates sapiente culpa, deserunt labore molestias, placeat saepe expedita. Blanditiis!</p>
  </div>
  <div class="col-md-4">
      <h3>Angular Frontend</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est dolorem non reprehenderit consequatur eum asperiores sunt quasi eveniet beatae harum voluptates sapiente culpa, deserunt labore molestias, placeat saepe expedita. Blanditiis!</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Token</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est dolorem non reprehenderit consequatur eum asperiores sunt quasi eveniet beatae harum voluptates sapiente culpa, deserunt labore molestias, placeat saepe expedita. Blanditiis!</p>
      </div>
</div>

